.map {
    padding-top: 155px;
    padding-bottom: 50px;
    background-color: $bg-color;

    .container {
        background: url('../images/map/map__location-bg.png') no-repeat right 20px;
    }

    .section-mark {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    &__block {
        width: 1200px;
        height: 635px;
        margin-left: auto;
        margin-right: auto;
        background: url('../images/map/map__bg.svg') no-repeat center;
        position: relative;
    }

    &__dots-block {
        display: flex;
        justify-content: space-between;
    }

    &__dot {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $green;
        box-shadow: 0 0 35px rgba(74, 246, 205, 0.83);
        position: relative;
        @include before-map-dot;
        z-index: 5;
    }

    .dot {
        &-1 {
            top: 340px;
        }

        &-2 {
            top: 260px;
            right: 50px;
        }

        &-3 {
            top: 315px;
        }

        &-4 {
            top: 545px;
            right: 165px;
        }

        &-5 {
            top: 215px;
            right: 145px;
        }

        &-6 {
            top: 515px;
            right: 175px;
        }

        &-7 {
            top: 395px;
            right: 215px;
        }

        &-8 {
            top: 495px;
            right: 80px;
        }

        &_arrow-up:before {
            top: -11px;
            z-index: 5;
        }
    }

    &__location {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__item {
        display: none;
        width: 285px;
        max-width: 100%;
        padding: 30px;
        border-radius: 6px;
        background-color: rgba(15, 16, 16, 0.7);
        text-transform: uppercase;
        position: relative;
        z-index: 9;
    }

    .item {
        &-1 {
            top: 90px;
        }

        &-2 {
            top: 10px;
            left: -17px;
        }

        &-3 {
            top: 65px;
            left: 205px;
        }

        &-4 {
            top: 245px;
            left: 280px;
        }

        &-5 {
            top: -30px;
            left: 400px;
        }

        &-6 {
            top: 260px;
            left: 540px;
        }

        &-7 {
            top: 130px;
            left: 665px;
        }

        &-8 {
            top: 235px;
            left: 960px;
        }

        &_visible {
            display: block;
        }
    }

    &__destination {
        display: block;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 17px;
        position: relative;
        @include after-line;
    }

    &__country {
        text-transform: capitalize;
    }

    &__conditions {
        margin-top: 30px;
        @include d-flex();

        &-item {
            flex-basis: 25%;
            text-align: center;
        }

        &-img,
        &-text {
            margin-bottom: 10px;
        }

        &-text {
            display: block;
            font-weight: 800;
        }

        &-subtext {
            font-size: 10px;
            font-weight: 300;
        }
    }

    .arrows-down {
        display: none;
    }
}