@mixin font-face($name, $src, $weight) {
    @font-face {
        font-family: $name;
        src: url('../font/' + $src + '.ttf') format('truetype'),
        url('../font/' + $src + '.woff') format('woff'),
        url('../font/' + $src + '.woff2') format('woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin font($size: null, $weight: null, $color: null, $line-height: null) {
    @if $size != null {
        font-size: $size
    }
    @if $weight != null {
        font-weight: $weight
    }
    @if $color != null {
        color: $color
    }
    @if $line-height != null {
        line-height: $line-height
    }
}

@mixin d-flex($a-items: center, $j-content: space-between, $f-direction: null) {
    display: flex;
    align-items: $a-items;
    justify-content: $j-content;

    @if $f-direction != null {
        flex-direction: $f-direction;
    }
}

@mixin before-line($bg-color: null, $pos-top: 0, $pos-right: null, $translateX: null) {
    &:before {
        content: '';
        width: 80px;
        height: 1px;

        @if $bg-color != null {
            background-color: $bg-color;
        }

        position: absolute;
        top: $pos-top;

        @if $pos-right != null {
            right: $pos-right;
        }

        @if $translateX != null {
            transform: $translateX;
        }
    }
}

@mixin after-line() {
    &:after {
        content: '';
        width: 80px;
        height: 1px;
        background-color: $green;
        position: absolute;
        left: 0;
        bottom: -50%;
        transform: translateY(-50%);
    }
}

@mixin before-map-dot() {
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 0;
    }
}