@media (max-width: 1024px) {
    .section {
        &-mark,
        &-subtitle {
            padding-right: 40px;
        }

        &-title {
            margin-left: 130px;
            font-size: 60px;

            &-sign {
                font-size: 100px;
            }
        }

        &-mark {
            font-size: 16px;

            &:before {
                top: 8px;
            }
        }

        &-subtitle {
            font-size: 32px;
        }
    }

    /*<----- Presentation ----->*/
    .presentation {
        &__sidebar {
            width: 100px;
            padding-top: 15px;
            padding-bottom: 10px;

            &-bg {
                width: 100px;
                height: 85px;
            }

            &-title {
                font-size: 24px;
                line-height: 4;
            }

            &-item {
                margin-bottom: 25px;
            }

            &-day {
                font-size: 40px;
            }

            &-month {
                font-size: 12px;
            }
        }

        &__content {
            &-desc,
            &-pagination {
                padding-right: 40px;
            }

            &-title {
                font-size: 60px;
            }

            &-subtext {
                font-size: 32px;
            }

            &-controls {
                right: 35px;
            }

            &-pagination li {
                border-top-width: 2px;
            }

            &-number {
                font-size: 20px;
            }

            &-name {
                font-size: 14px;
            }
        }
    }

    /*<----- Map ----->*/
    .map {
        padding-top: 50px;
        padding-bottom: 30px;

        &__block {
            width: 100%;
            height: auto;
            background: url('../images/map/map__bg-min.png') no-repeat center;
        }

        &__dots-block {
            display: none;
        }

        &__location,
        &__item {
            position: initial;
        }

        &__location {
            margin-top: 40px;
            padding-left: 15px;
            padding-right: 15px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }

        &__item {
            display: block;
            width: 100%;
        }
    }

    /*<----- Places ----->*/
    .places__slider-controls {
        right: 36px;
    }
}

@media (min-width: 1024px) {
    .section-title-sign,
    .presentation__sidebar-title,
    .presentation__content-pagination,
    .arrows-down,
    .places__slider-title,
    .places__slider-location {
        cursor: default;
    }

    .presentation__sidebar-search,
    .presentation__content-controls button,
    .map__dot,
    .map__dot:before,
    .places__slider-controls button {
        cursor: pointer;
    }
}