@media (max-width: 1024px) {
    .section {
        &-title-sign {
            font-size: 100px;
        }

        &-mark {
            font-size: 16px;

            &:before {
                top: 8px;
            }
        }
    }

    /*<----- Presentation ----->*/
    .presentation {
        &__sidebar {
            width: 100px;
            padding-top: 15px;
            padding-bottom: 10px;

            &-bg {
                width: 100px;
                height: 85px;
            }

            &-title {
                font-size: 24px;
                line-height: 4;
            }

            &-item {
                margin-bottom: 25px;
            }

            &-day {
                font-size: 40px;
            }

            &-month {
                font-size: 12px;
            }
        }

        &__content {
            &-desc,
            &-pagination {
                padding-right: 40px;
            }

            &-title {
                font-size: 60px;
            }

            &-subtext {
                font-size: 32px;
            }

            &-controls {
                right: 35px;
            }

            &-pagination li {
                border-top-width: 2px;
            }

            &-number {
                font-size: 20px;
            }

            &-name {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .section-title-sign,
    .presentation__sidebar-title,
    .presentation__content-pagination,
    .presentation__arrows {
        cursor: default;
    }

    .presentation__sidebar-search,
    .presentation__content-controls button,
    .map__dot,
    .map__dot:before {
        cursor: pointer;
    }
}