@media (max-width: 768px) {
    /*<----- Presentation ----->*/
    .presentation {
        &__sidebar {
            left: -100px;
            transition: all 800ms;

            &.sidebar_active {
                left: 0;
            }

            &-btn {
                visibility: visible;
            }
        }

        .tns-outer {
            padding-left: 0;
            text-align: initial;
        }

        &__content {
            &-wrap {
                height: 100%;
                @include d-flex(null, space-between, column);
                padding-bottom: 15px;
            }

            &-slider {
                margin-bottom: 50px;
            }

            &-inner {
                height: initial;
            }

            &-map {
                margin-right: 0;
                margin-bottom: 30px;
            }

            &-desc {
                margin-top: initial;
                padding-bottom: 0;
            }

            &-title {
                margin-bottom: 25px;
            }

            &-controls {
                position: initial;
                display: flex;
                justify-content: flex-end;
                padding-right: 35px;
                margin-bottom: 50px;

                img {
                    width: 20px;
                }
            }
        }

        .arrows-down {
            left: 50px;

            &.arrows_show-anim {
                visibility: hidden;
                animation: show-anim 0s 400ms forwards;
            }

            @keyframes show-anim {
                to { visibility: visible }
            }
        }
    }

    /*<----- Map ----->*/
    .map {
        &__item {
            height: fit-content;
            padding: 20px;
            position: relative;
        }

        &__conditions {
            display: none;
        }

        .conditions_visible {
            display: flex;
        }

        .arrows-down {
            display: block;
            right: 15px;
            bottom: 5px;
        }
    }
}